html {
  height: 100%;
}

body {
  background-color: #EEE !important;
  font-family: 'Oswald', sans-serif;
  min-height: 700px;
  min-width: 1200px;
  height: 100%;
}

.cycle-control {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
}

.feed-element {
  width: 100%;
  position: relative;
  height: 31.5%;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.feed-content {
  padding-top: 1%;
  width: 50%;
}

.metric-title {
  text-align: center;
  color: black;
}

.metric-caption {
  text-align: center;
  color: #666;
  margin-top: -10px;
}

.metric-caption.empty {
	opacity: 0;
}

.feed-metrics {
  margin-top: -10px;
}

.metric {
  display: inline-block;
  width: 44%;
  vertical-align: middle;
}

.metric-current {
  color: black;
  margin-right: 5%;
  text-align: right;
}

.metric-compare {
  color: #999;
  margin-left: 5%;
  text-align: left;
}

.timestamp {
  position: absolute;
  top: 5px;
  right: 25px;
  color: #AAA;
  font-size: 16px;
}

.chart {
  position: absolute;
  bottom: 5px;
  right: 5px;
  overflow: hidden;
}

@media screen and (min-height:1px) and (max-height:800px) {

	.metric-title {
		font-size: 52px;
	}

	.metric-caption {
		font-size: 28px;
	}

	.metric {
		font-size: 80px;
	}

}

@media screen and (min-height:801px) and (max-height:900px) {

	.metric-title {
		font-size: 60px;
	}

	.metric-caption {
		font-size: 34px;
	}

	.metric {
		font-size: 88px;
	}

}

@media screen and (min-height:901px) and (max-height: 1000px) {

	.metric-title {
		font-size: 66px;
	}

	.metric-caption {
		font-size: 38px;
	}

	.metric {
		font-size: 96px;
	}

}

@media screen and (min-height: 1001px) and (max-height: 1150px) {

	.metric-title {
		font-size: 74px;
	}

	.metric-caption {
		font-size: 44px;
	}

	.metric {
		font-size: 110px;
	}

}

@media screen and (min-height: 1151px) {

	.metric-title {
		font-size: 84px;
	}

	.metric-caption {
		font-size: 50px;
	}

	.metric {
		font-size: 124px;
	}

}
