html {
  height: 100%;
}

body {
  background-color: #EEE !important;
  font-family: 'Oswald', sans-serif;
  min-height: 700px;
  min-width: 1200px;
  height: 100%;
}

.cycle-control {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
}

.feed-element {
  width: 100%;
  position: relative;
  height: 48.5%;
  border-bottom: 2px solid grey;
  margin-bottom: 10px;
}

.feed-content {
  width: 40%;
}

.metric-title {
  padding-top: 4%;
  text-align: center;
  color: black;
}

.metric-caption {
  text-align: center;
  color: #666;
  margin-top: 3%;
}

.metric-caption.empty {
	opacity: 0;
}

.feed-metrics {
  margin-top: -10px;
}

.metric {
  margin-top: 1%;
  display: inline-block;
  width: 44%;
  vertical-align: middle;
}

.metric-subcaption {
	display: inline-block;
	margin-top: -40px;
	width: 44%;
	vertical-align: middle;
}

.metric-subcaption.metric-compare {
	margin-left: 6%;
}

.metric-current {
  color: steelblue;
  margin-right: 5%;
  text-align: right;
}

.metric-compare {
  color: #999;
  margin-left: 5%;
  text-align: left;
}

.timestamp {
  position: absolute;
  top: -5px;
  right: 25px;
  color: #AAA;
  font-size: 18px;
}

.chart {
  position: absolute;
  bottom: 5px;
  right: 5px;
  overflow: hidden;
}

@media screen and (min-height:1px) and (max-height:800px) {

	.metric-title {
		font-size: 64px;
	}

	.metric-caption {
		font-size: 32px;
	}

	.metric {
		font-size: 92px;
	}

	.metric-subcaption {
		font-size: 28px;
	}

}

@media screen and (min-height:801px) and (max-height:900px) {

	.metric-title {
		font-size: 72px;
	}

	.metric-caption {
		font-size: 36px;
	}

	.metric {
		font-size: 100px;
	}

	.metric-subcaption {
		font-size: 30px;
	}

}

@media screen and (min-height:901px) and (max-height: 1000px) {

	.metric-title {
		font-size: 88px;
	}

	.metric-caption {
		font-size: 40px;
	}

	.metric {
		font-size: 108px;
	}

	.metric-subcaption {
		font-size: 32px;
	}

}

@media screen and (min-height: 1001px) and (max-height: 1150px) {

	.metric-title {
		font-size: 86px;
	}

	.metric-caption {
		font-size: 46px;
	}

	.metric {
		font-size: 122px;
	}

	.metric-subcaption {
		font-size: 34px;
	}

}

@media screen and (min-height: 1151px) {

	.metric-title {
		font-size: 96px;
	}

	.metric-caption {
		font-size: 52px;
	}

	.metric {
		font-size: 136px;
	}

	.metric-subcaption {
		font-size: 38px;
	}

}
