<!doctype html>
<html>
<head>
  <meta charset="utf-8">

{% block head %}
<title>{% block title %}{% endblock title %}</title>

<script>
  var $SCRIPT_ROOT = '/{{ blueprint_name|safe }}';
</script>

<script src={{ url_for('static', filename=blueprint_name + '/js/jquery-2.0.3.min.js') }}></script>
<script src={{ url_for('static', filename=blueprint_name + '/js/underscore-min.js') }}></script>
<script src={{ url_for('static', filename=blueprint_name + '/js/handlebars-1.0.rc.1.min.js') }}></script>
<script src={{ url_for('static', filename=blueprint_name + '/js/moment.min.js') }}></script>
<script src={{ url_for('static', filename=blueprint_name + '/js/backbone-min.js') }}></script>
<script src={{ url_for('static', filename=blueprint_name + '/js/d3.v3.min.js') }}></script>
<script src={{ url_for('static', filename=blueprint_name + '/js/vega.js') }}></script>

{% endblock head %}

</head>

<body>
{% block content %}{% endblock content %}
</body>

</html>
